<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lostzone">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="vista.Activities.MemoriaExterna"></activity>
        <activity android:name="vista.Activities.reyesMagos" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/reyes" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="vista.Activities.MIApp2" />
        <activity android:name="vista.Activities.ActividadMemoriaInterna" />
        <activity android:name="vista.Activities.Artistas_RecyclerView" />
        <activity android:name="vista.Activities.Escuchar_Fragmento_Activity" />
        <activity android:name="vista.Fragmentos.Fragemento_Activity" />
        <activity android:name="vista.Activities.verNombreApellido" />
        <activity android:name="vista.Activities.IgresarNombreApellido" />
        <activity android:name="vista.Activities.logear" />
        <activity android:name="vista.Activities.Suma_Activity" />
    </application>

</manifest>